.book-appointment-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .book-appointment-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .book-appointment-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #28a745;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    border-color: #28a745;
  }
  
  .invalid-feedback {
    color: red;
    display: none;
  }
  
  .was-validated .form-group input:invalid,
  .was-validated .form-group select:invalid {
    border-color: red;
  }
  
  .was-validated .form-group input:invalid ~ .invalid-feedback,
  .was-validated .form-group select:invalid ~ .invalid-feedback {
    display: block;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #7CB342;
  }